<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
      <script src="app.js"></script>
    <style>

    .green { font-size: 1.3em; font-weight: bold; color:green; border:1px solid green}
    .red { font-size: 1.3em; font-weight: bold; color:red; border:1px solid red }
    </style>
  </head>
<body ng-app='LunchCheck'>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input ng-model="menu" id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button ng-click="checkdisplay()" class="btn btn-default">Check If Too Much</button>
         </div>


 <span ng-class="styleclass">{{message}}</span>
 {{menuarray}}
           <!-- Your message can go here. -->

   </div>

</body>
</html>
